/* Effective stylesheet produced by snapshot save */
table.ygtvtable { margin-bottom: 0px; border: 0px none; border-collapse: collapse; }
td.ygtvcell { border: 0px none; padding: 0px; }
a.ygtvspacer { text-decoration: none; outline-style: none; display: block; }
.ygtvln { width: 18px; height: 22px; background: url("yui_image.php.gif") no-repeat scroll 0px -1600px transparent; cursor: pointer; }
.ygtvcontent { cursor: default; }
.ygtvspacer { height: 22px; width: 18px; }
