/* Effective stylesheet produced by snapshot save */
.yui3-menu .yui3-menu { position: absolute; z-index: 1; }
.yui3-menu-hidden { top: -10000px; left: -10000px; visibility: hidden; }
.yui3-menu li { list-style-type: none; }
.yui3-menu ul, .yui3-menu li { margin: 0px; padding: 0px; }
.yui3-menu-label, .yui3-menuitem-content { text-align: left; white-space: nowrap; display: block; }
.yui3-menu-content {  }
.yui3-menu-hidden .yui3-menu-content {  }
.yui3-menuitem-content, .yui3-menu-label {  }
.yui3-menu-hidden .yui3-menuitem-content, .yui3-menu-hidden .yui3-menu-label {  }
.yui3-skin-sam .yui3-menu-content, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content { font-size: 93%; line-height: 1.5; border: 1px solid rgb(128, 128, 128); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 3px 0px; }
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content { font-size: 100%; }
.yui3-skin-sam .yui3-menu ul, .yui3-skin-sam .yui3-menu ul ul { margin-top: 3px; padding-top: 3px; border-top: 1px solid rgb(204, 204, 204); }
.yui3-skin-sam .yui3-menu ul.first-of-type { border: 0px none; margin: 0px; padding: 0px; }
.yui3-skin-sam .yui3-menu li, .yui3-skin-sam .yui3-menu .yui3-menu li {  }
.yui3-skin-sam .yui3-menu-label, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label, .yui3-skin-sam .yui3-menuitem-content, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-content { padding: 0px 1em; color: rgb(0, 0, 0); text-decoration: none; cursor: default; float: none; border: 0px none; margin: 0px; }
.yui3-skin-sam .yui3-menu-label, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label { background: url("yui_image.php.png") no-repeat scroll right center transparent; }
