/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("urn:not-loaded:http://instagram.apps.wix.com/bundles/wixinstagram/resources/fonts/icomoon/fonts/icomoon.eot?#iefix-dkldlu") format("embedded-opentype"), url("icomoon_woff") format("woff"), url("urn:not-loaded:http://instagram.apps.wix.com/bundles/wixinstagram/resources/fonts/icomoon/fonts/icomoon.ttf?-dkldlu") format("truetype"), url("urn:not-loaded:http://instagram.apps.wix.com/bundles/wixinstagram/resources/fonts/icomoon/fonts/icomoon.svg?-dkldlu#icomoon") format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: "icomoon" ! important; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.icon-Time::before { content: ""; }
.icon-Location::before { content: ""; }
.icon-Like::before { content: ""; }
.icon-comments::before { content: ""; }
.icon-tag::before { content: ""; }
.icon-search::before { content: ""; }
.icon-play::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-arrow-left::before { content: ""; }
.icon-arrow-left2::before { content: ""; }
.icon-arrow-right2::before { content: ""; }
