/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("LKf8nhXsWg5ybwEGXk8UBQ_woff") format("woff");
}
