/* Effective stylesheet produced by snapshot save */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px none; padding: 0px; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { overflow-y: scroll; }
body, button, input, select, textarea { color: rgb(43, 43, 43); font-family: Lato,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; }
body { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
a { color: rgb(36, 137, 13); text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
a:active, a:hover { color: rgb(65, 166, 42); }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: 700; margin: 36px 0px 12px; }
h1 { font-size: 26px; line-height: 1.38462; }
p { margin-bottom: 24px; }
ul, ol { list-style: outside none none; margin: 0px 0px 24px 20px; }
ul { list-style: outside none disc; }
li > ul, li > ol { margin: 0px 0px 0px 20px; }
img { border: 0px none; vertical-align: middle; }
button, input, select, textarea { box-sizing: border-box; font-size: 100%; margin: 0px; max-width: 100%; vertical-align: baseline; }
button, input { line-height: normal; }
input, textarea {  }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] {  }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(36, 137, 13); color: rgb(255, 255, 255); text-shadow: none; }
input, textarea { border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; color: rgb(43, 43, 43); padding: 8px 10px 7px; }
input:focus, textarea:focus { border: 1px solid rgba(0, 0, 0, 0.3); outline: 0px none; }
button, .button, input[type="button"], input[type="reset"], input[type="submit"] { background-color: rgb(36, 137, 13); border: 0px none; border-radius: 2px; color: rgb(255, 255, 255); font-size: 12px; font-weight: 700; padding: 10px 30px 11px; text-transform: uppercase; vertical-align: bottom; }
button:hover, button:focus, .button:hover, .button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus { background-color: rgb(65, 166, 42); color: rgb(255, 255, 255); }
button:active, .button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { background-color: rgb(85, 215, 55); }
.search-field { width: 100%; }
.search-submit { display: none; }
:-moz-placeholder { color: rgb(147, 147, 147); }
*::-moz-placeholder { color: rgb(147, 147, 147); opacity: 1; }
.comment-content img, .entry-content img, .entry-summary img, #site-header img, .widget img, .wp-caption { max-width: 100%; }
.comment-content img[height], .entry-content img, .entry-summary img, img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"], #site-header img { height: auto; }
img.size-full, img.size-large, .wp-post-image, .post-thumbnail img { height: auto; max-width: 100%; }
embed, iframe, object, video { margin-bottom: 24px; max-width: 100%; }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute; }
.screen-reader-text:focus { background-color: rgb(241, 241, 241); border-radius: 3px; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6); clip: auto; color: rgb(33, 117, 155); display: block; font-size: 14px; font-weight: bold; height: auto; line-height: normal; padding: 15px 23px 14px; position: absolute; left: 5px; top: 5px; text-decoration: none; text-transform: none; width: auto; z-index: 100000; }
.hide { display: none; }
.footer-sidebar:before, .footer-sidebar:after, .hentry:before, .hentry:after, .gallery:before, .gallery:after, .slider-direction-nav:before, .slider-direction-nav:after, .contributor-info:before, .contributor-info:after, .search-box:before, .search-box:after, [class*="content"]:before, [class*="content"]:after, [class*="site"]:before, [class*="site"]:after { content: ""; display: table; }
.footer-sidebar:after, .hentry:after, .gallery:after, .slider-direction-nav:after, .contributor-info:after, .search-box:after, [class*="content"]:after, [class*="site"]:after { clear: both; }
.bypostauthor > article .fn:before, .comment-edit-link:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .contributor-posts-link:before, .menu-toggle:before, .search-toggle:before, .slider-direction-nav a:before, .widget_twentyfourteen_ephemera .widget-title:before { display: inline-block; font: 16px/1 Genericons; text-decoration: inherit; vertical-align: text-bottom; }
.site { background-color: rgb(255, 255, 255); max-width: 1260px; position: relative; }
.main-content { width: 100%; }
#site-header { position: relative; z-index: 3; }
.site-header { background-color: rgb(0, 0, 0); max-width: 1260px; position: relative; width: 100%; z-index: 4; }
.header-main { min-height: 48px; padding: 0px 10px; }
.site-title { float: left; font-size: 18px; font-weight: 700; line-height: 48px; margin: 0px; }
.site-title a, .site-title a:hover { color: rgb(255, 255, 255); }
.search-toggle { background-color: rgb(36, 137, 13); cursor: pointer; float: right; height: 48px; margin-right: 38px; text-align: center; width: 48px; }
.search-toggle:hover, .search-toggle.active { background-color: rgb(65, 166, 42); }
.search-toggle:before { color: rgb(255, 255, 255); content: ""; font-size: 20px; margin-top: 14px; }
.search-toggle .screen-reader-text { left: 5px; }
.search-box-wrapper { box-sizing: border-box; position: absolute; top: 48px; right: 0px; width: 100%; z-index: 2; }
.search-box { background-color: rgb(65, 166, 42); padding: 12px; }
.search-box .search-field { background-color: rgb(255, 255, 255); border: 0px none; float: right; font-size: 16px; padding: 2px 2px 3px 6px; width: 100%; }
.site-navigation ul { list-style: outside none none; margin: 0px; }
.site-navigation li { border-top: 1px solid rgba(255, 255, 255, 0.2); }
.site-navigation ul ul { margin-left: 20px; }
.site-navigation a { color: rgb(255, 255, 255); display: block; text-transform: uppercase; }
.site-navigation a:hover { color: rgb(65, 166, 42); }
.site-navigation .current_page_item > a, .site-navigation .current_page_ancestor > a, .site-navigation .current-menu-item > a, .site-navigation .current-menu-ancestor > a { color: rgb(85, 215, 55); font-weight: 900; }
.primary-navigation { box-sizing: border-box; font-size: 14px; padding-top: 24px; }
.primary-navigation .nav-menu { border-bottom: 1px solid rgba(255, 255, 255, 0.2); display: none; }
.primary-navigation a { padding: 7px 0px; }
.menu-toggle { background-color: rgb(0, 0, 0); border-radius: 0px; cursor: pointer; font-size: 0px; height: 48px; margin: 0px; overflow: hidden; padding: 0px; position: absolute; top: 0px; right: 0px; text-align: center; width: 48px; }
.menu-toggle:before { color: rgb(255, 255, 255); content: ""; display: inline; margin-top: 16px; }
.menu-toggle:active, .menu-toggle:focus, .menu-toggle:hover { background-color: rgb(68, 68, 68); }
.menu-toggle:focus { outline: 1px dotted; }
.content-area { padding-top: 48px; }
.hentry { margin: 0px auto 48px; max-width: 672px; }
.site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content .entry-meta, .page-content { margin: 0px auto; max-width: 474px; }
.post-thumbnail { background: url("pattern-light.svg") repeat fixed 0% 0% rgb(178, 178, 178); display: block; position: relative; width: 100%; z-index: 0; }
.entry-header { position: relative; z-index: 1; }
.entry-title { font-size: 33px; font-weight: 300; line-height: 1.09091; margin: 0px 0px 12px; text-transform: uppercase; }
.site-content .entry-header { background-color: rgb(255, 255, 255); padding: 0px 10px 12px; }
.site-content .has-post-thumbnail .entry-header { padding-top: 24px; }
.entry-content, .entry-summary, .page-content { -moz-hyphens: auto; word-wrap: break-word; }
.site-content .entry-content, .site-content .entry-summary, .page-content { background-color: rgb(255, 255, 255); padding: 12px 10px 0px; }
.page .entry-content { padding-top: 0px; }
.gallery-columns-1 .gallery-item:nth-of-type(n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) { margin-right: 0px; }
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(n+1), .gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(n+1), .gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1), .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) { clear: left; }
.comment-content > :last-child { margin-bottom: 0px; }
#secondary { background-color: rgb(0, 0, 0); border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgba(255, 255, 255, 0.2); clear: both; color: rgba(255, 255, 255, 0.698); margin-top: -1px; padding: 0px 10px; position: relative; z-index: 2; }
.content-sidebar { border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); box-sizing: border-box; color: rgb(118, 118, 118); padding: 48px 10px 0px; }
.widget { font-size: 14px; -moz-hyphens: auto; line-height: 1.28571; margin-bottom: 48px; width: 100%; word-wrap: break-word; }
.widget a { color: rgb(255, 255, 255); }
.widget a:hover { color: rgb(65, 166, 42); }
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 { margin: 24px 0px 12px; }
.widget h1 { font-size: 22px; line-height: 1.09091; }
.widget p { margin-bottom: 18px; }
.widget .widget-title { font-size: 14px; font-weight: 700; line-height: 1.71429; margin: 0px 0px 24px; text-transform: uppercase; }
.widget-title, .widget-title a { color: rgb(255, 255, 255); }
.widget_text > div > :last-child { margin-bottom: 0px; }
.content-sidebar .widget .widget-title { border-top: 5px solid rgb(0, 0, 0); color: rgb(43, 43, 43); font-size: 14px; font-weight: 900; margin: 0px 0px 18px; padding-top: 7px; text-transform: uppercase; }
#supplementary { padding: 0px 10px; }
.site-footer, .site-info, .site-info a { color: rgba(255, 255, 255, 0.698); }
.site-footer { background-color: rgb(0, 0, 0); font-size: 12px; position: relative; z-index: 3; }
.footer-sidebar { padding-top: 48px; }
.site-info { padding: 15px 10px; }
#supplementary + .site-info { border-top: 1px solid rgba(255, 255, 255, 0.2); }
.site-info a:hover { color: rgb(65, 166, 42); }
@media screen and (min-width: 594px) {
  .site-content .entry-header { padding-right: 30px; padding-left: 30px; }
  .site-content .has-post-thumbnail .entry-header { margin-top: -48px; }
}
@media screen and (min-width: 673px) {
  .header-main { padding: 0px 30px; }
  .search-toggle { margin-right: 18px; }
  .search-box .search-field { width: 50%; }
  .content-area { float: left; width: 100%; }
  .site-content { margin-right: 33.3333%; }
  .site-content .has-post-thumbnail .entry-header { margin-top: 0px; }
  .archive-header, .comments-area, .image-navigation, .page-header, .page-content, .post-navigation, .site-content .entry-content, .site-content .entry-summary, .site-content footer.entry-meta { padding-right: 30px; padding-left: 30px; }
  #secondary, #supplementary { padding: 0px 30px; }
  .content-sidebar { border: 0px none; float: right; margin-left: -33.3333%; padding: 48px 30px 24px; position: relative; width: 33.3333%; }
  .grid .featured-content .hentry:nth-child(2n+1) { clear: both; }
  .site-info { padding: 15px 30px; }
}
@media screen and (min-width: 783px) {
  .header-main { padding-right: 0px; }
  .search-toggle { margin-right: 0px; }
  .primary-navigation { float: right; font-size: 11px; margin: 0px 1px 0px -12px; padding: 0px; text-transform: uppercase; }
  .primary-navigation .menu-toggle { display: none; padding: 0px; }
  .primary-navigation .nav-menu { border-bottom: 0px none; display: block; }
  .primary-navigation li { border: 0px none; display: inline-block; height: 48px; line-height: 48px; position: relative; }
  .primary-navigation a { display: inline-block; padding: 0px 12px; white-space: nowrap; }
  .primary-navigation ul ul { background-color: rgb(36, 137, 13); float: left; margin: 0px; position: absolute; top: 48px; left: -999em; z-index: 99999; }
  .primary-navigation li li { border: 0px none; display: block; height: auto; line-height: 1.09091; }
  .primary-navigation ul ul ul { left: -999em; top: 0px; }
  .primary-navigation ul ul a { padding: 18px 12px; white-space: normal; width: 176px; }
  .primary-navigation li:hover > a, .primary-navigation li.focus > a { background-color: rgb(36, 137, 13); color: rgb(255, 255, 255); }
  .primary-navigation ul ul a:hover, .primary-navigation ul ul li.focus > a { background-color: rgb(65, 166, 42); }
  .primary-navigation ul li:hover > ul, .primary-navigation ul li.focus > ul { left: auto; }
  .primary-navigation ul ul li:hover > ul, .primary-navigation ul ul li.focus > ul { left: 100%; }
  .primary-navigation .menu-item-has-children > a, .primary-navigation .page_item_has_children > a { padding-right: 26px; }
  .primary-navigation .menu-item-has-children > a:after, .primary-navigation .page_item_has_children > a:after { content: ""; display: inline-block; font: 8px/1 Genericons; position: absolute; right: 12px; top: 22px; vertical-align: text-bottom; }
  .primary-navigation li .menu-item-has-children > a, .primary-navigation li .page_item_has_children > a { padding-right: 20px; width: 168px; }
  .primary-navigation .menu-item-has-children li.menu-item-has-children > a:after, .primary-navigation .menu-item-has-children li.page_item_has_children > a:after, .primary-navigation .page_item_has_children li.menu-item-has-children > a:after, .primary-navigation .page_item_has_children li.page_item_has_children > a:after { content: ""; right: 8px; top: 20px; }
}
@media screen and (min-width: 846px) {
  .content-area, .content-sidebar { padding-top: 72px; }
  .site-content .has-post-thumbnail .entry-header { margin-top: -48px; }
}
@media screen and (min-width: 1008px) {
  .search-box-wrapper { padding-left: 182px; }
  .main-content { float: left; }
  .site-content { margin-right: 29.0476%; margin-left: 182px; }
  .site-content .entry-header { margin-top: 0px; }
  .site-content .has-post-thumbnail .entry-header { margin-top: 0px; }
  .content-sidebar { margin-left: -29.0476%; width: 29.0476%; }
  .site:before { background-color: rgb(0, 0, 0); content: ""; display: block; height: 100%; min-height: 100%; position: absolute; top: 0px; left: 0px; width: 182px; z-index: 2; }
  #secondary { background-color: transparent; border: 0px none; clear: none; float: left; margin: 0px 0px 0px -100%; min-height: 100vh; width: 122px; }
  .footer-sidebar .widget, .primary-sidebar .widget { font-size: 12px; line-height: 1.5; }
  .footer-sidebar .widget { box-sizing: border-box; float: left; padding: 0px 30px; width: 25%; }
  .footer-sidebar .widget h1, .primary-sidebar .widget h1 { font-size: 20px; line-height: 1.2; }
  .footer-sidebar .widget .widget-title, .primary-sidebar .widget .widget-title { font-size: 11px; font-weight: 900; line-height: 1.63636; margin-bottom: 18px; }
  #supplementary { padding: 0px; }
  .footer-sidebar { font-size: 12px; line-height: 1.5; }
  .grid .featured-content .hentry:nth-child(2n+1) { clear: none; }
  .grid .featured-content .hentry:nth-child(3n+1) { clear: both; }
}
@media screen and (min-width: 1040px) {
  .site-content .has-post-thumbnail .entry-header { margin-top: -48px; }
  .archive-header, .comments-area, .image-navigation, .page-header, .page-content, .post-navigation, .site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content footer.entry-meta { padding-right: 15px; padding-left: 15px; }
}
@media screen and (min-width: 1080px) {
  .search-box .search-field { width: 324px; }
  .site-content, .site-main .widecolumn { margin-left: 222px; }
  .site:before { width: 222px; }
  .search-box-wrapper, .featured-content { padding-left: 222px; }
  #secondary { width: 162px; }
}
@media screen and (min-width: 1110px) {
  .archive-header, .comments-area, .image-navigation, .page-header, .page-content, .post-navigation, .site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content footer.entry-meta { padding-right: 30px; padding-left: 30px; }
}
@media screen and (min-width: 1218px) {
  .archive-header, .comments-area, .image-navigation, .page-header, .page-content, .post-navigation, .site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content footer.entry-meta { margin-right: 54px; }
}
@media print {
  body { background: none repeat scroll 0% 0% transparent ! important; color: rgb(43, 43, 43); font-size: 12pt; }
  .site, .site-header, .hentry, .site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content .entry-meta, .page-content, .archive-header, .page-header, .contributor-info, .comments-area, .attachment .entry-attachment .attachment { max-width: 100%; }
  #site-header img, .search-toggle, .site-navigation, .site-content nav, .edit-link, .page-links, .widget-area, .more-link, .post-format-archive-link, .comment-respond, .comment-list .reply, .comment-reply-login, #secondary, .site-footer, .slider-control-paging, .slider-direction-nav { display: none; }
  .site-title a, .entry-meta, .entry-meta a, .featured-content .hentry, .featured-content a { color: rgb(43, 43, 43); }
  .site-header, .post-thumbnail, a.post-thumbnail:hover, .site-content .entry-header, .site-footer, .featured-content, .featured-content .entry-header { background: none repeat scroll 0% 0% transparent; }
  .header-main { padding: 48px 10px; }
  .site-title { float: none; font-size: 19pt; }
  .content-area { padding-top: 0px; }
  .post-thumbnail img { margin: 0px 10px 24px; }
  .site-content .has-post-thumbnail .entry-header { padding-top: 0px; }
}
