/* Effective stylesheet produced by snapshot save */
body { margin: 0px; padding: 0px; }
body, td, th, input, textarea, select { font-size: 11px; font-weight: normal; font-family: Arial,Verdana,sans-serif; color: rgb(106, 95, 79); }
form, img, fieldset, legend { margin: 0px; padding: 0px; border: 0px none; }
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; font-size: 11px; }
hr { display: none; }
img, input, label, select { vertical-align: middle; }
a { color: rgb(106, 95, 79); text-decoration: none; }
a:hover { text-decoration: underline; }
.clear { clear: both; display: block; font-size: 1px; height: 1px; overflow: hidden; }
.inputButton, .inputButtonValid { cursor: pointer; color: rgb(106, 95, 79); font-weight: bold; width: 25px; border: 0px none; background: transparent none repeat scroll 0% 0%; }
.inputText, .inputPassword { padding: 2px 5px; background: rgb(209, 207, 203) none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); }
.inputArea { padding: 2px 0px 2px 5px; background: rgb(209, 207, 203) none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); }
.inputSelect { background: rgb(209, 207, 203) none repeat scroll 0% 0%; border: 1px solid rgb(106, 95, 79); }
.header ul, .header ul li, .links ul, .links ul li, .path ul, .path ul li, .list ul, .list ul li, .servicesList ul, .servicesList ul li, .pager ul, .pager ul li, .navigation ul, .navigation ul li, .navigation ol, .navigation ol li, .options ul, .options ul li, .steps ul, .steps ul li, .listPoint ul, .listPoint ul li, .sitemap ul, .sitemap ul li, .footer ul, .footer ul li, .tophome ul, .tophome ul li, .listMag ul, .listMag ul li, .listMag ol, .listMag ol li, #brandLogos, #brandLogos li, #histoDate, #histoDate li, #recruitment #lastOffer ul, #recruitment #lastOffer li, #boxesShopNav, #boxesShopNav li { margin: 0px; padding: 0px; list-style-type: none; }
body { background: rgb(255, 255, 255) url("dummy.gif") repeat fixed 0% 0%; text-align: center; }
.links ul li { padding: 0px 0px 0px 12px; background: transparent url("urn:not-loaded:http://www.monoprix.fr/Includes/Css/Images/Puces/brown-flc-right.gif") no-repeat scroll 0px 4px; }
.links ul li a { color: rgb(144, 136, 131); }
.links ul li a { color: rgb(252, 0, 87); font-weight: bold; }
.ckeckbox label { display: block; min-height: 15px; padding-left: 15px; background: transparent url("checkbox-fd.gif") no-repeat scroll 0px 3px; }
.ckeckbox .inputCheck { position: absolute; left: -9999px; }
.radios { margin: 5px 0px; }
.radios label { margin: 0px 10px 0px 0px; }
.tg { margin: 0px 0px 10px; }
.rounded { margin: 0px 0px 10px; background: rgb(0, 0, 34) none repeat scroll 0% 0%; }
.rounded .top { display: none; }
.rounded .cont {  }
.rounded .cont .inner {  }
.rounded .bot { display: none; }
html body .header { z-index: 10; position: relative; margin: auto; width: 900px; height: 123px; background: transparent none no-repeat scroll center top; }
.header .upper, .tophome { z-index: 10; position: relative; margin: auto; width: 900px; text-align: left; }
.header .upper .logo, .tophome .logo { position: absolute; top: 0px; left: 0px; }
.header .upper .logo { top: 23px; }
.header .upper { width: 900px; }
.header .upper .logo a { display: block; }
.header .upper .logo a span { display: block; }
.header .upper .logo a span img {  }
.header .customer { position: absolute; top: 0px; right: 0px; }
.header .customer .login, .tophome .customer .login { z-index: 5; position: absolute; top: 0px; right: 0px; padding: 5px 0px 0px; width: 700px; text-align: right; }
.header .customer .login a, .tophome .customer .login a { color: rgb(255, 255, 255); }
.header .customer .login legend, .tophome .customer .login legend { display: none; }
.header .customer .login .inputText, .header .customer .login .inputPassword, .tophome .customer .login .inputText, .tophome .customer .login .inputPassword { margin: 0px 0px 2px; width: 100px; border: 1px solid rgb(231, 227, 227); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header .customer .login .inputButton, .tophome .customer .login .inputButton { display: inline-block; padding: 17px 0px 0px 18px; background: transparent url("ok.gif") no-repeat scroll 0% 0%; }
.header .customer fieldset, .tophome .customer fieldset { display: inline; }
.header .customer .links, .tophome .customer .links { display: inline; }
.header .customer .links ul, .tophome .customer .links ul, .header .customer .links ul li, .tophome .customer .links ul li { display: inline; padding: 0px; background: transparent none repeat scroll 0% 0%; }
.header .customer .links ul li a, .tophome .customer .links ul li a { margin: 0px 0px 0px 10px; color: rgb(158, 142, 142); font-size: 10px; font-weight: normal; }
.header .customer .links ul li a.create, .tophome .customer .links ul li a.create { color: rgb(0, 0, 0); padding: 0px 0px 0px 10px; font-size: 11px; border-left: 1px solid rgb(158, 142, 142); }
.header .customer .links ul li a.shops, .tophome .customer .links ul li a.shops { margin: 0px 0px 0px 30px; color: rgb(0, 0, 0); font-size: 11px; }
DIV.Navigation { width: 900px; height: 26px; background-color: rgb(228, 19, 72); position: absolute; bottom: 0px; }
ul#navigation { margin: 0px; text-align: left; padding: 0px; }
#navigation li { display: inline; text-align: left; }
#navigation li a { color: rgb(255, 255, 255); padding: 0px 25px; text-decoration: none; text-transform: uppercase; font-size: 14px; letter-spacing: 1px; background-color: rgb(228, 19, 72); }
#navigation li a:first-child { padding: 0px 10px ! important; }
#navigation li span { line-height: 26px; }
#navigation li a:hover, #navigation li a:focus, #navigation li a:active, #navigation li.on a { color: rgb(228, 195, 203); width: 100px; height: 26px; text-decoration: none; }
.body { margin: auto; width: 900px; text-align: left; }
.path { position: relative; margin: 0px 0px 10px; padding: 5px 10px; color: rgb(0, 0, 0); background: rgb(232, 232, 232) none repeat scroll 0% 0%; }
.path a { white-space: nowrap; color: rgb(0, 0, 0); }
.path strong { color: rgb(250, 0, 87); }
.left { float: left; width: 145px; min-height: 50px; }
.left .search { color: rgb(205, 201, 199); background: rgb(144, 136, 131) none repeat scroll 0% 0%; }
.left .search .inner { padding: 5px; }
.left .search .inner legend { font-size: 12px; font-weight: bold; color: rgb(255, 255, 255); }
.left .search .inner .fields { margin: 3px 0px 0px; padding: 5px 0px 0px; border-top: 1px solid rgb(205, 201, 199); }
.left .search .inner .inputText { margin: 0px 0px 5px; width: 122px; }
.left .search .inner .button { text-align: right; }
.left .search .inner .inputButton { width: 60px; color: rgb(255, 255, 255); font-size: 16px; }
.left .criteria { color: rgb(205, 201, 199); background: rgb(144, 136, 131) none repeat scroll 0% 0%; }
.left .criteria .inner { padding: 5px; }
.left .criteria .inner legend { font-size: 12px; font-weight: bold; color: rgb(255, 255, 255); }
.left .criteria .inner .fields { margin: 3px 0px 0px; padding: 5px 0px 0px; border-top: 1px solid rgb(205, 201, 199); }
.left .criteria .inner .inputSelect { margin: 0px 0px 5px; width: 134px; }
.left .criteria .links { margin: 0px 0px 10px; }
.left .criteria .links ul li { background-image: url("grey-light-flc-right.gif"); }
.left .criteria .links ul li a { color: rgb(209, 207, 203); }
.left .gps { margin: 15px 0px; }
.left .gps a { display: block; height: 31px; background: transparent url("monoprix-sur-votre-gps.gif") no-repeat scroll center top; }
.left .gps a span { display: none; }
.LCR, .LC { float: right; width: 740px; }
.main .tools { float: right; width: 200px; }
.main .tools ul li { background-image: url("pink-flc-right.gif"); }
.main .tools ul li a { color: rgb(252, 0, 87); }
.main h1 { margin: 0px 0px 20px; width: 530px; font-weight: normal; }
.main h1.alone { padding: 2px 5px; width: 520px; font-size: 19px; font-weight: normal; text-transform: uppercase; background: rgb(204, 204, 204) none repeat scroll 0% 0%; border-top: 10px solid rgb(153, 153, 153); border-bottom: 5px solid rgb(102, 102, 102); }
.content { float: left; }
.LC .content, .C .content { float: none; width: auto; }
.main .intro { margin: 0px 0px 10px; }
.content .list { margin: 15px 0px; }
.content .map { margin: 20px 0px 10px; }
.content .map .subLeft { float: left; width: 170px; }
.content .map h2, .content .map .back { padding: 0px 0px 5px; border-bottom: 1px solid rgb(211, 207, 205); }
.content .map .pager { position: relative; float: right; padding: 0px 0px 0px 27px; margin: -20px 0px 0px; }
.content .map .pager ul, .content .map .pager ul li { display: inline; }
.content .map .pager ul li { padding: 0px 0px 0px 5px; background: transparent url("grey-tir-h.gif") no-repeat scroll left center; }
.content .map .pager ul li a { color: rgb(199, 195, 190); font-weight: bold; }
.content .map .pager ul li.on a, .content .map .pager ul li a:hover { color: rgb(252, 0, 87); }
.content .map .pager span { position: absolute; top: 0px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.content .map .list ul li { margin: 10px 0px 0px; padding: 0px 0px 0px 12px; background: transparent url("pink-flc-right.gif") no-repeat scroll 0px 4px; }
.content .map .list ul li a { color: rgb(252, 0, 87); }
.content .map .list ul li a strong { text-transform: uppercase; }
.content .map .subRight { float: right; width: 560px; min-height: 350px; }
.footer .tools { z-index: 5; position: relative; padding: 2px 0px 0px; background: rgb(243, 242, 242) none repeat scroll 0% 0%; height: 30px; overflow: hidden; }
.footer .tools .inner { margin: auto; width: 900px; text-align: left; }
.footer .tools .inner fieldset { float: left; margin: 8px 0px 0px; font-weight: bold; }
.footer .tools .inner fieldset .inputs { margin: -17px 0px 0px; }
.footer .tools .inner .newsletter { margin-top: 7px; margin-right: 10px; padding-right: 10px; background: transparent url("brown-tir-h.gif") no-repeat scroll right center; }
.footer .tools .inner .newsletter a { color: rgb(200, 15, 86); font-size: 14px; }
.footer .tools .inner .shop .inputText { margin-left: 130px; width: 60px; }
.footer .tools .inner .sharetools { position: relative; float: right; margin: -22px 270px 0px 0px; }
.footer .tools .inner .sharetools .text { position: relative; float: left; margin: -5px 0px 0px; width: 90px; color: rgb(68, 97, 160); }
.footer .tools .inner .sharetools img { position: relative; margin: -3px 0px 0px; }
.footer .lower { margin: auto; padding: 5px 0px; width: 900px; text-align: left; color: rgb(184, 179, 174); }
.footer .lower .navigation, .footer .lower .navigation * { display: inline; color: rgb(184, 179, 174); }
.footer .lower .navigation ul li { margin: 0px 0px 0px 3px; padding: 0px 0px 0px 8px; background: transparent url("grey-tir-h.gif") no-repeat scroll left center; }
.footer .lower .navigation ul li.first { margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; }
.footer .lower .seo { display: block; padding: 15px 0px 0px; }
.footer .lower .seo ul { display: block; margin: 5px 0px; }
.footer .lower .seo a { color: rgb(135, 131, 127); }
.sendFriend { display: none; z-index: 50; position: absolute; top: 100px; left: 50%; margin: 0px 0px 0px -200px; padding: 10px; width: 400px; text-align: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(222, 222, 222); }
.sendFriend .closer { cursor: pointer; position: absolute; top: 10px; right: 10px; width: 7px; height: 7px; background: transparent url("urn:not-loaded:http://www.monoprix.fr/Includes/Css/Images/Puces/closer.gif") no-repeat scroll 0% 0%; }
.sendFriend legend { margin: 0px 0px 15px; color: rgb(174, 169, 166); font-size: 25px; font-weight: normal; }
.sendFriend .intro { margin: 0px 0px 15px; }
.sendFriend .field .label { float: left; padding: 3px 0px 0px; width: 140px; font-weight: bold; }
.sendFriend .field .input { float: right; width: 250px; }
.sendFriend .field .input .inputText { width: 235px; }
.sendFriend .field .input .inputArea { width: 240px; height: 100px; overflow: auto; }
.sendFriend .button { text-align: right; }
.sendFriend .button .inputButton { padding: 0px 0px 0px 10px; width: 150px; color: rgb(144, 136, 131); font-size: 12px; background: transparent url("urn:not-loaded:http://www.monoprix.fr/Includes/Css/Images/Puces/grey-flc-right.gif") no-repeat scroll 0px 5px; }
.registerNews { display: none; z-index: 50; position: absolute; top: 200px; left: 50%; margin: 0px 0px 0px -250px; padding: 95px 10px 10px; width: 480px; text-align: left; color: rgb(0, 0, 0); background: rgb(255, 255, 255) url("urn:not-loaded:http://www.monoprix.fr/Includes/Css/Images/Texts/subscribe-newsletter.gif") no-repeat scroll center 25px; border: 1px solid rgb(200, 15, 86); }
.registerNews .closer { cursor: pointer; position: absolute; top: 10px; right: 10px; width: 42px; height: 8px; overflow: hidden; background: rgb(255, 255, 255) url("urn:not-loaded:http://www.monoprix.fr/Includes/Css/Images/Buttons/fermer.gif") no-repeat scroll 0% 0%; }
.registerNews .mandatory { height: 36px; background: transparent url("urn:not-loaded:http://www.monoprix.fr/Includes/Css/Images/Boxs/monoprix.gif") no-repeat scroll right bottom; }
.step0 .registerNews .mandatory { color: rgb(255, 255, 255); }
.registerNews legend { display: none; }
.registerNews .intro { padding: 10px 0px 10px 100px; background: transparent url("urn:not-loaded:http://www.monoprix.fr/Includes/Css/Images/Boxs/step1-fd2.gif") no-repeat scroll 0% 0%; }
.step0 .registerNews .intro { padding: 10px 0px; text-align: center; background: transparent none repeat scroll 0% 0%; }
.registerNews .intro .radios { margin: 0px 0px 10px; }
.registerNews .intro .radios label { margin-left: 5px; }
.step0 .registerNews .intro .radios { margin: 10px 0px; }
.imaged { display: block; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; font-size: 20px; }
:first-child + html #franchise .formRadios input { margin: -2px 7px 9px 14px; }
.dd .quest .txt p::first-letter { padding: 15px 0px 0px 37px; }
