/* Effective stylesheet produced by snapshot save */
body .header { background: transparent url("urn:not-loaded:http://www.monoprix.fr/ContentFiles/Css/Images/Univers/rouge-rose/header-fd.gif") repeat-x scroll 0% 0%; }
.main h1.alone { color: rgb(255, 255, 255); background: rgb(234, 139, 173) none repeat scroll 0% 0%; border-top-color: rgb(230, 51, 116); border-bottom-color: rgb(123, 21, 44); }
